/doc/Doxyfile_user
/doc/user-refman
/doc/user-refman.pdf
/doc/Doxyfile_devel
/doc/devel-refman
/doc/devel-refman.pdf
/doc/figures/*.png
/doc/ref-guide.hh
/doc/ref-guide.pdf
/doc/ref-guide/
/doc/technical.pdf
/doc/technical/
/doc/tutorial.hh
/doc/tutorial.pdf
/doc/tutorial/
/doc/white-paper.pdf
/doc/white-paper/

/tests/unit_test/mln_*.cc
