/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/py-compile

/doc/Doxyfile_user
/doc/user-refman
/doc/user-refman.pdf
/doc/Doxyfile_devel
/doc/devel-refman
/doc/devel-refman.pdf
/doc/figures/*.png
/doc/ref-guide.hh
/doc/ref-guide.pdf
/doc/ref-guide/
/doc/technical.pdf
/doc/technical/
/doc/tutorial.hh
/doc/tutorial.pdf
/doc/tutorial/
/doc/white-paper.pdf
/doc/white-paper/

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/tests/unit_test/mln_*.cc

/*aclocal.m4
/autom4te.cache*
/config.h
/config.h?in*
/config.hin
/configure
/configure.scan
