# Global.
*~
*.dSYM
*.pyc
*.stamp
.deps
Makefile.in
Makefile

# Local.
/*-stamp
/*.patch
/*TAGS
/*aclocal.m4
/*stamp-*
/_build*
/_inst*
/autom4te.cache*
/autoscan.log
/config
/config.cache*
/config.log*
/config.status*
/configure
/configure.scan
/diffs.patch
/stamp-h1

/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/diffs.patch
/build-aux/*.elc
/build-aux/elisp-comp
/build-aux/install-sh
/build-aux/*.log
/build-aux/ltmain.sh
/build-aux/*Makefile
/build-aux/*Makefile?in
/build-aux/mdate-sh
/build-aux/missing
/build-aux/*.patch
/build-aux/patches*
/build-aux/py-compile
/build-aux/*.rej
/build-aux/*TAGS
/build-aux/texinfo.tex

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
