[ENTRY]
  COMMAND_PREFIX = \	# In Doxygen, commands begin with a `\'
  TAG_OPEN = code     
  TAG_CLOSE = endcode
  CAPTIONS = cxx	# We want to run cxx on the extracted files (see line below)
  ALIAS cxx = g++	# Here, cxx means g++ but you can choose other compilers
  OUT = texi		# FIXME: should be obsolete
